<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.comes.care.ui"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="net.comes.care.ui">
         </property>
         <property
               name="applicationXMI"
               value="net.comes.care.ui/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/net.comes.care.common/css/green.css">
         </property>
         <property
               name="aboutImage"
               value="img/comes-logo-round.png">
         </property>
         <property
               name="windowImages"
               value="icons/16/comes-logo.png,icons/32/comes-logo.png,icons/48/comes-logo.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
