<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.comes.care.ui"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="net.comes.care.ui">
         </property>
         <property
               name="applicationXMI"
               value="net.comes.care.ui/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/net.comes.care.ui/css/green.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="net.comes.care.ui.splashHandlers.InteractiveSplashHandler"
            id="net.comes.care.ui.splashHandlers.interactive">
      </splashHandler>
   </extension>

</plugin>
